.thumbs.db
thumbs.db
desctop.ini
node_modules


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
!.gitkeep

# Editor directories and files
.idea

# DEV directories
/_tmp/
/_log/
_misc/
tmp/

/t?.js
t.*
local*.*
*.local.*
/package-lock.json
/**/.env*
**/dist

/.npmrc
